version: '3.8'
services:
  server-moni:
    build: .
    ports:
      - "8082:8080"
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - PORT=8080
    restart: unless-stopped
